/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common styles and utilities */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
.container{
    width: 870px;
    background-color:  #FFFFFF;
}

/* top players */
.top-players{
    padding: 30px;
}
.section-title{
    color: #562EFF;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    margin-bottom: 21px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
    margin-top: 3px;
}
hr{
    border: 1px solid #d1d1d1;
}

/* top blogs */
.blog-container{
    padding: 30px;
}
.top-blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
}
.blogs{
    display: flex;
}
.top-blogs .blogs .blog-img img{
    width: 177px;
    height: 117px;
}
.blog-details{
    margin-left: 16px;
}
.blog-author a{
    text-decoration: none;
}

/* Latest Courses */
.latest-course-section{
    width: 810px;
    margin-top: 20px;
    padding: 30px;
    border-radius: 5px;
}
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    opacity: 25%;
}
.course{
    /* display: flex;
    justify-content: space-between; */
}
.course img{
    width: 224px;
    height: 104px;
}
.course-others{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
